    <style>
    footer{
    width: 1200px;
    height: 80px;
    position: fixed ;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    }
    footer img{
        width: 40px;
        background-color: rgba(0, 0, 0, 0);
        height: 40px;
        margin: 20px 80px;
    }
    footer a{
        margin-right: 30px;
        padding: 10px;
        margin-top: 30px;
        text-decoration: none;
        color: rgb(168, 168, 168);
    }
    
    </style>
    
    
	
        <footer>
        	<th:block th:if="${session.member == null}">
            <a href="/before_login_main" class="before_login_main"><img src="img/home.png"></a>
            <a href="/new_expire" class="new_expire"><img src="img/video.png"></a>
            <a href="/search" class="search"><img src="img/explore.png"></a>
            <a href="/index" class="my_page"><img src="img/profile.png"></a>
            </th:block>
            <th:block th:if="${session.member != null}">
            <a href="/main" class="main"><img src="img/home.png"></a>
            <a href="/new_expire" class="new_expire"><img src="img/video.png"></a>
            <a href="/search" class="search"><img src="img/explore.png"></a>
            <a href="/my_page" class="my_page"><img src="img/profile.png"></a>
            </th:block>
        </footer>
	

