<style>
    footer{
    width: 1200px;
    height: 80px;
    position: fixed ;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    margin-left : 10px;
    }
    footer img{
        width: 40px;
        background-color: rgba(0, 0, 0, 0);
        height: 40px;
        margin: 20px 50px;
    }
    footer a{
    	text-align : center;
    	margin-right: 30px;
        padding: 10px;
        margin-top: 30px;
        text-decoration: none;
        color: rgb(168, 168, 168);
    }
    
      .top{
        position: fixed;
        width: 20px;
        height: 20px;
        background-image: url(/img/up-arrow.png);
        background-size: 100%;
        background-repeat: no-repeat;
        bottom: 20px;
        right: 50px;
        border-radius: 100px; 
      }
    
    </style>
    
    
	
        <footer>
        	<th:block th:if="${session.member == null}">
            <a href="/" class="main"><img src="/img/home.png"></a>
            <a href="/board/new_expire" class="new_expire"><img src="/img/video.png"></a>
            <a href="/board/search" class="search"><img src="/img/explore.png"></a>
            <a href="/board/zoom_search" class="zoomsearch"><img src="/img/magnifier.png"></a>        
            <a href="/index" class="my_page"><img src="/img/profile.png"></a>
            <a href="#top" class="top"></a>
            </th:block>
            <th:block th:if="${session.member != null}">
            <a href="/" class="main"><img src="/img/home.png"></a>
            <a href="/board/new_expire" class="new_expire"><img src="/img/video.png"></a>
            <a href="/board/search" class="search"><img src="/img/explore.png"></a>
            <a href="/board/zoom_search" class="zoomsearch"><img src="/img/magnifier.png"></a>   
            <!-- <a th:href="@{/board/my_page/{id}(id=${session.member.id})}" class="my_page"><img src="/img/profile.png"></a> -->

           <!-- 로그인한 일반 유저일 경우 -->
          <a th:if="${session.member != null}" th:href="@{/board/my_page/{id}(id=${session.member.id})}" class="my_page"><img src="/img/profile.png"></a>

          <!-- 간편 로그인한 유저일 경우 -->
          <a th:if="${session.user != null}" th:href="@{/board/my_page/{id}(id=${session.user.sns_id})}" class="my_page"><img src="/img/profile.png"></a>


            <a href="#top" class="top"></a>
            </th:block>
        </footer>

