<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voda.mapper.BoardMapper"> <!-- com.voda.mapper맞는지 확인 -->
	<select id="selectBoardList" resultType="board" parameterType="hashMap">
		SELECT * FROM BOARD_TABLE_VIEW WHERE ceil(rw / #{contentCount}) = #{pageNo}
	</select>
	<select id="selectBoardCount" resultType="int">
		select count(*) from board_table_view
	</select>
	<insert id="insertBoardImage" parameterType="hashmap">
		insert into board_image values(#{fno},#{path})
	</insert>
	<select id="selectImageFile" parameterType="int" resultType="file">
		select * from board_image where fno = #{fno}
	</select>
	<select id="selectFile" parameterType="hashMap" resultType="file">
		select * from board_file where bno = #{bno} and fno = #{fno}
	</select>
	<select id="selectBoardBno" resultType="int">
		select board_bno_seq.nextval from dual
	</select>
	<insert id="insertBoard" parameterType="board">
		insert into board_table(bno, title, pd, casting, content,new_exprie, bdate, genre, poster_video,ott_no) values(
			#{bno},#{title},#{pd},#{casting}, #{content},#{new_exprie}, #{bdate}, #{genre},#{poster_video}, #{ott_no}
		)
	</insert>
	<insert id="insertFile" parameterType="file"> <!-- fno를 (SELECT max(fno) FROM board_file WHERE bno = #{bno})+1 서브쿼리로 변경, 제일 큰번호뒤에 새로운 파일이 붙도록 함 / 만약 기존파일이 아무것도 없으면 0이 나오도록 nvl을 넣어준다. -->
		insert into board_file 
		values(#{bno},(SELECT nvl(max(fno),0) FROM board_file WHERE bno = #{bno})+1,#{path})
	</insert>
	<select id="selectBoard" resultType="board" parameterType="int"> 
		select *
		from board_table where bno = #{bno}
	</select>
	<select id="selectFileList" resultType="file" parameterType="int">
		select * from board_file where bno = #{bno} order by fno
	</select>
	<update id="updateBoard" parameterType="board">
		update board_table 
		set title=#{title}, pd=#{pd}, casting=#{casting}, content=#{content}, new_expire=#{new_expire}, genre =#{genre},poster_video=#{poster_video},ott_no=#{ott_no}
		where bno = #{bno}
	</update>
	<select id="deleteFileList" parameterType="hashMap" resultType="string">  <!-- sql문 안에 foreach문 구분자 콤마 -->
		select path from board_file where bno = #{bno} and 
		fno in
		<foreach collection="fno" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	<delete id="deleteFile" parameterType="hashMap">
		delete from board_file where bno = #{bno}  
		<if test="fno != null"> 
			and fno in
			<foreach collection="fno" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</delete>
	<delete id="deleteBoard" parameterType="int">
		delete from board_table where bno = #{bno}
	</delete>
	
</mapper>