<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voda.mapper.ReviewMapper"> <!-- com.voda.mapper맞는지 확인 -->

<resultMap type="review" id="review"> 
		<!-- column="조회된 결과의 컬럼명" property="클래스의 필드명"-->
		<id column="rno" property="id"/>
		<result column="rdate" property="rdate"/>
		<result column="review_content" property="reviewContent"/>
		<result column="bno" property="bno"/>
		<result column="id" property="id"/>
		<result column="star_no" property="starNo"/>
</resultMap>
	
	<select id="selectReviewList" resultType="review" parameterType="hashMap">
		SELECT r.rno
			   TO_CHAR(r.rdate,'YYYY-MM-DD') AS rDate, 
			   r.review_content as reviewContent
			   r.bno (select bno from board b where b.bno = r.bno)
			   r.id	(select id from member m where m.id = r.id)
			   r.star_no as starNo
		FROM REVIEW_TABLE_VIEW r
		WHERE ceil(rw / #{ReviewCount}) = #{pageNo}
	</select>	
</mapper>